* {
  margin: 0;
  padding: 0;
}

.itemsSignedIn {
  margin: 0;
  padding: 0;
}
.itemsSignedIn > li {
  text-align: center;
  display: inline-block;
}

.itemsSignedIn2 {
  margin: 0;
  padding: 0;
}
.itemsSignedIn2 > li {
  text-align: center;
  display: inline-block;
}

#active {
  font-size: 25px;
  font-weight: 800;
  text-decoration: underline;
  color: white;
}

.profile {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: black;
}

/* #sidebar {
  border-style: solid;
  border-width: 2px;
  width: 500px;
  border-radius: 15px;
  padding: 10px;
  border-color: black;
}

h2.sidebarTitle {
  color: #00d700;
}

.userBoxes {
  border-style: solid;
  border-width: 1.5px;
  width: 125px;
  border-radius: 5px;
  padding: 10px;
  border-color: black;
} */

/* login and register html navbar*/
#my-navbar, .navbar-default {
  background: #005bbb;
}

#register, #chatorama-title, #login, #headers {
  color: white; 
}


.container {
  width: 50%;
  margin: auto;
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
  background-color: rgb(246, 246, 246);
  border-radius: 10px;
  padding-bottom: 25px;
  
}

.chatBoxes {
  display: table-cell;
  flex-direction: column;
  list-style-type: none;
}

.box {
  width: 600px;
  background-color: #fcffa9;
  outline-color: rgb(173, 173, 173);
  outline-width: 1px;
  outline-style: solid;
  max-width: 685px;
  padding: 10px 0px 10px 20px;
  border-radius: 5px;
}

.chatProfile {
  float:left;
  text-align: center;
  margin-right: 15px;
}

.chatProfile h6 {
  font-size: 15px;
  margin-top: 5px;
}


.profileImageIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#left-side {
  width: 250px !important;
  background-color: #E0E0E0;
  border: 1px solid black;
  border-radius: 25px;
}

#right-side {
  background-color: #a9b5ff;
  border: 1px solid black;
  border-radius: 5px;
}

.bottomSend {
  padding: 10px;
}

.chatComponent {
  float: right;
}

.overall {
  display: flex;
  float: left;
}

.chatComponent button {
  width: 125px;
  height: 45px;
  margin-bottom: 1px;
  border-radius: 5px;
}

#upButton {
  background-color: #9AFDFF;
  padding: 5px;
}
#upButton:active {
  background-color: #65B8FF;
  padding: 5px;
}

#downButton {
  background-color: #FF9A9A;
  padding: 5px;
}
#downButton:active {
  background-color: #FF6565;
  padding: 5px;
}

#logoutButton {
  outline-style: solid;
  outline-width: 1px;
  outline-color: white;
  border-radius: 25px;
  color: white;
}

#logoutButton:hover {
  background-color: white;
  color: black;
}

.chatContainer{
  overflow-y: scroll;
  height: 500px;
}

@media only screen and (min-width: 1351px) {
  #right-side {
    position: absolute;
    right: 1%;
    top: 11.2%;
  }
}
@media only screen and (max-width: 1350px) {
  .container {
    margin-right: 35px;
  }
  #right-side {
    position: absolute;
    width: 325px;
    right: 5%;
    margin-top: 10px;
  }
}