<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatorama</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/script.js"></script>

  <style>
    #left-side {
      float: left;
      text-align: center;
      width: 300px;
      min-height: 75px;
    }

    #top-userToDM {
      text-align: center;
    }

    #middle-display {
      margin-left: 10px;
      height: 450px;
      overflow-y: auto;
    }

    #bottom-textbar {
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-default" id="my-navbar">
    <a class="navbar-brand" href="/" id="chatorama-title">Chatorama</a>
    <ul class="itemsSignedIn" class="navbar-nav mx-auto">
      <li class="nav-item">
        <a id = "active" class="nav-link" href="/" id="headers">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings" id="headers">Settings</a>
      </li>
    </ul>
    <ul class="itemsSignedIn2" style="align-items: center;" class="navbar-nav ml-auto">
      <li class="profile">
        <img src="{{ user_image }}">
      </li>
      <li class="nav-item">
        <a class="nav-link" id="headers">Hi, {{ session.sessionName }}!</a>
      </li>
      <li class="nav-item">
        <a id = "logoutButton" class="nav-link" href="/logout" id="headers">Logout</a>
      </li>
    </ul>
  </nav>


  <br>

  <div style = "margin-left: 25px" id="left-side">
    <nav id="sidebar">
      <h4 style = "background-color: black; border-radius: 25px 25px 0 0; color: #7FFF00; border-bottom: 1px solid black; padding: 5px 10px 0px 10px">ONLINE USERS</h4>
      <div id="users">
        {% for user in users %}
        <p class="user">{{user[0]}}</p>
        {% endfor %}

      </div>
    </nav>
  </div>

  <!-- GLOBAL POSTS -->
  <div class = "container">
    <center><h3 style = "padding: 5px">User Posts</h3></center>
    <div class = "chatContainer">
      <ul class = "chatBoxes" id="postArea"> 
        <!-- -->
        <br>
      </ul>
    </div>
      
    <br>
    <form>
      <div style = "position: relative; display: flex">
        <div style = "width: 85%" class="form-group">
          <p hidden id="username_post">{{ session.sessionName }}</p>
          <input type="text" class="form-control" id="postMessage" placeholder="Create Post!">
        </div>
        <button style = "width: 15%; height: 39px" type="button" class="btn btn-primary" id="send_post">Post</button>
      </div>
    </form>
  </div>

  <div id="right-side">
    <div id="top-userToDM">
      {% for user in users[:1] %}
      <p id="currentUser">{{user[0]}}</p>
      {% endfor %}
    </div>
    <div id="middle-display">

    </div>
    <div id="bottom-textbar">
      <div id="input">
        <h1 id="dmUser"></h1>
        <div class = "bottomSend">
          <p1>Msg</p1>
          <input type="text" id="myMessage" placeholder = "Send DM!">
          <button style = "background-color: #fdffa9; width: 75px; border-radius: 5px" type="button" id="send">Send</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
