<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatorama</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "/static/css/style.css">
    <!--<script src = "/static/js/register.js"></script>-->
</head>

<body>
    <nav class="navbar navbar-light" id="my-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/" id="chatorama-title">Chatorama</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register" id="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          </ul>
        </div>
    </nav>

    <br>
    <div>
        <div id = "message"></div>

        <h3 style = "margin-left: 30%; margin-right: 30%; width: 40%">Login here!</h3>
        <form method = "post" style = "margin-top: 15px; margin-left: 30%; margin-right: 30%; width: 40%" class = "form-register">
            <label for="loginName" class = "sr-only">Name</label>
            <input type="name" name="loginName" id="loginName" placeholder="Enter name" class="form-control" required/>
        
            <label for="loginPassword" class = "sr-only">Password</label>
            <input type="password" name="loginPassword" id="loginPassword" placeholder="Enter password" class="form-control" required/>
            <br>
            <a><button type="submit" id="buttonRegister" class="btn btn-primary">Login</button></a>
        </form>
    </div>

    <script src = "/static/js/jquery.js"></script>
</body>

</html>