<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatorama</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "/static/css/style.css">
    <!--<script src = "/static/js/register.js"></script>-->
</head>

<body>
    <nav class="navbar navbar-default" id="my-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/" id="chatorama-title">Chatorama</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login" id="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
    </nav>
    
    <br>
    <div>
        <div id = "message"></div>
        <br>
        <h3 style = "margin-left: 30%; margin-right: 30%; width: 40%">Register here!</h3>
        <form method = "post" style = "margin-top: 15px; margin-left: 30%; margin-right: 30%; width: 40%" class = "form-register">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <label for="registerName" class = "sr-only">Name</label>
            <input type="name" name="registerName" id="registerName" placeholder="Enter name" class="form-control" required/>
        
            <label for="registerPassword" class = "sr-only">Password</label>
            <input type="password" name="registerPassword" id="registerPassword" placeholder="Enter password" class="form-control" required/>
            <br>
            <button type="submit" id="buttonRegister" class="btn btn-primary">Register</button>
        </form>
    </div>
    
    <br>
    <center>
    <h5>To register, use a password that satisfies these requirements:</h5>
    <br>
    <ul style = "width: 400px" class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <p style = "margin: 0; padding: 0">A minimum length of <b>8</b> characters </p><span style = "padding: 10px 15px 10px 15px" class="badge badge-primary badge-pill">(qwertyui)</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <p style = "margin: 0; padding: 0">At least <b>1</b> uppercase character</p><span style = "padding: 10px 15px 10px 15px" class="badge badge-primary badge-pill">(A, B, C)</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <p style = "margin: 0; padding: 0">At least <b>1</b> number</p><span style = "padding: 10px 15px 10px 15px" class="badge badge-primary badge-pill">(1, 2, 3)</span>
      </li>

      <li class="list-group-item d-flex justify-content-between align-items-center">
        <p style = "margin: 0; padding: 0">At least <b>1</b> special character</p><span style = "padding: 10px 15px 10px 15px" class="badge badge-primary badge-pill">(!, @, #)</span>
      </li>
    
    </ul>

    </center>


    <script src = "/static/js/jquery.js"></script>
</body>

</html>