<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="stylesheet.css">
      <title>Chattorama</title>
      <h1 id="header"> Welcome to Chattorama!</h1>
    </head>
    <body>     
      <form class="login-form" action="/auth" method="post">
        <div class="container">
          <h1>Login</h1>
          <div class="inputbox">
            <input type="text" placeholder="Username" name="username" autocomplete="off">
            <input type="password" placeholder="Password" name="password">
            <input type="button" type="Submit" value="Login">
          </div>
          <p>Don't have an account? <a href="pages/register.html">Register</a></p>
        </div>
      </form>
    </body>
</html> 
