<html>
    <head>
      <meta charset='UTF-8'>
      <link rel='stylesheet' href='stylesheet.css'>
      <title>Chattorama</title>
      <h1 id='header'> Welcome to Chattorama!</h1>
    </head>
    <body>     
      <form id='login-forms' class='login-form' action='/auth/login' method='POST'>
        <div class='container'>
          <h1>Login</h1>
          <div class='inputbox'>
            <input id='username-field' type='text' placeholder='Username' name='username' autocomplete='off' required>
            <input id='pw-field' type='password' placeholder='Password' name='password' autocomplete='off' required>
            <input type='submit' type='Submit' value='Login'>
          </div>
          <p>Don't have an account? <a href='pages/register.html'>Register</a></p>
        </div>
      </form>
    </body>
</html> 
