<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="stylesheet.css">
      <title>Chatorama</title>
      <h1 id="header"> Welcome to Chatorama!</h1>
    </head>
    <body>     
      <form class="register-form" action="/auth/register" method="post">
        <div class="container">
          <h1>Register</h1>
          <div class="inputbox">
            <input type="text" placeholder="Username" name="username" autocomplete="off" required>
            <input type="password" placeholder="Password" name="password"  autocomplete="off" required>
            <input type="submit" name="submit" value="Register">
          </div>
        </div>
      </form>
    </body>
</html> 
