<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="templates/login.css">
      <title>Chattorama</title>
      <h1 id="header"> Welcome to Chattorama!</h1>
    </head>
    <body>     
      <form class="login-form" action="/" method="post">
        <div class="container">
          <h1>Register</h1>
          <div class="inputbox">
            <input type="text" placeholder="Username" name="username" autocomplete="off" required>
            <input type="password" placeholder="Password" name="password"  autocomplete="off" required>
            <input type="button" type="Register" value="register">
          </div>
        </div>
      </form>
    </body>
</html> 
