* {
  background-color:#1f1f1f;
  margin:0;
}

body,html {
  height:100%;
  display:block;
}

#header {
  text-align:left;
  color:#FFF;
  padding:5px;
  background-color: #F2DD93;
}

.register-form, .login-form {
  height:100%;
  margin:auto;
}

.container {
  width:20%;
  height:100%;
  border:30px solid #F2DD93;
  background-color:#F2DD93;
  text-align:center;
  margin:left;
}

.inputbox {
  background-color:#F2DD93;
  position:relative;
  top:30%;
}

.container > h1,p,a {
  background-color:#F2DD93;
  color:#FFF;
  text-align:center;
  position:relative;
  top:30%;
}

input[type=text],input[type=password] {
  width:60%;
  display:inline-block;
  border:1px solid #ccc;
  border-radius:4px;
  color:grey;
  box-sizing:border-box;
  background:#FFF;
  margin:8px 0;
  padding:12px 20px;
}

input[type=button] {
  width:60%;
  display:inline-block;
  color:#FFF;
  border:1px solid #E1C356;
  background-color:#E1C356;
  border-radius:4px;
  margin:8px 0;
  padding:12px 20px;
}
